*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
    font-size: 62.5%;
    font-family: 'Staatliches', cursive;
}

/*
    CORE STYLE
*/

.window{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
}

.start{
    position: absolute;
    top: 0;
    width:100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
}

.screen{
    position: absolute;
    color: red;
    width: 100vw;
    height: 166.66vw;
}


/* BACK */

.back{
    /* position:relative;
    width: 100vw;
    height: 75vw; */
}

.background{

}

.back_curtain{

}

/* MAIN */

.main{
    /* position:relative;
    width:100vw;
    height: 100vh; */
}

.board{

}

/* --------PJS        */

.pjs{

}

.pj_background{

}

.pj_left{

}

.pj_right{

}

/* --------PJS END     */

.main_curtain{

}

/* FRONT */

.front{
    width: 100%;
    height: 100%;
    background-image: url("/img/backT.png");
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: flex-end;
    
}

.mirror{
    position:absolute;
    top: 0;
    background-image: url("/img/frontT.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
}

.premio{
    position:absolute;
    background-repeat: no-repeat;
    top: 60%;
    width: 100%;
    height: 100%;
    background-image: url("/img/peluche.png");
    background-size: contain;
    transform: rotate(60deg);
    display: none;
}

/* -------- DIALOGBOX            */

.dialogbox{
    text-align: center;
    justify-self: center;
    height:12%;
    width: 20%;
    border: 1px black solid;
    border-radius: 100%;
    margin-bottom: 12%;

    text-align: center;
    font-size: 3vw;
    padding-top: 4vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}


/* -------- DIALOGBOX END        */

.gancho{
    position:absolute;
    top: 20%;
    left: 40%;
    height:12%;
    width: 20%;
    border-radius: 100%;
    border: 1px black solid;
    /* background-color: red; */
    margin-bottom: 6.66%;
    /* width: 0;
    height: 0; */
}

/*

*/

.screen{
    position: absolute;
    color: red;
    width: 100vw;
    height: 166.66vw;
}



/* FONT */

.screen{
    font-size: 10%;
}

.presentacion, .next{
    width: 50vw;
    font-size: 5vw;
}

.presentacion{
    text-align: justify;
}

.next{

    margin-top: 2vw;
    text-align: center;
    border: 1px black solid;
    border-radius: 5%;
}


@media screen and (min-width: 60vh) {

/*

        ___________________________
       |       |           |       |
       |       |   SCREEN  |       |
       |       |           |       |
       |_______|___________|_______|

*/

    .window{
        flex-direction: row;
    }


    .screen{
        width: 60vh;
        height: 100vh;
    }

    .presentacion, .next{
        width: 50vh;
        font-size: 5vh;
    }

    .next{
        margin-top: 2vh;
        text-align: center;
    }
    
/* BACK */

.back{

}

.background{
    
}

.back_curtain{
    
}

/* MAIN */

.main{
    /* width: 133.3vh;
        height: 100vh; */
}

.board{
    
}

/* --------PJS        */

.pjs{
    
}

.pj_background{
    
}

.pj_left{
    
}

.pj_right{
    
}

/* --------PJS END     */

.main_curtain{
    
}

/* FRONT */

.front{

    /* width: 133.3vh;
    height: 100vh; */
    width: 100%;
    height: 100%;
}

/* -------- DIALOGBOX            */

.dialogbox{
    text-align: center;
    font-size: 2vh;
    padding-top: 3vh;
}

.dialogbox_pj{
    width: 0;
}

.dialogbox_dialog{
    width: 0;
}

/* -------- DIALOGBOX END        */

.gancho{

    height:12%;
    width: 20%;
    border-radius: 100%;
    border: 1px black solid;
    /* background-color: red; */
    margin-bottom: 6.66%;
}   

.mirror{
position: absolute;
top: 0;
}

    
}

