@font-face {
    font-family: 'Worksans';
    src: url('/assets/fonts/WorkSans-VariableFont_wght.ttf');
}


.fosh{
    animation: pop 0.7s linear;
}

@keyframes pop{
    0%{ transform: scale(0) }
    50%{transform: scale(1.2)}
    100%{transform: scale(1)}
}

.plim{
    animation: nice 1.7s linear;
}

@keyframes nice{
    0%   	{transform: rotate(0deg) scale(0)}
    70%   	{transform: rotate(0deg) scale(0)}
    80%	    {transform: rotate(-30deg) scale(1)}
    90%	    {transform: rotate(10deg) scale(1.3)}
    99% 	{transform: rotate(-5deg) scale(1)}
    100% 	{transform: rotate(0deg) scale(1)}
}

@keyframes fun{
    0% {background-color: white;color: black;}
    1% {background-color: black;color: white;}
    49% {background-color: black;color: white;}
    50% {background-color: white;color: black;}
}

/* 
var element = document.getElementById("prize"); 
element.classList.remove("plim"); 
void element.offsetWidth; 

element.classList.add("plim");
*/


/* 
const cosa = document.getElementById("prize");
cosa.style.animationPlayState = 'paused'; // detiene la animación
cosa.style.animationName = 'none'; // quita el nombre de la animación
cosa.offsetHeight; // fuerza una reflow
cosa.style.animationName = 'plim'; // vuelve a establecer el nombre de la animación
cosa.style.animationPlayState = 'running'; 
 */



.stats{
    position: fixed;
    color: white;
    top: 0;
}

*{
    box-sizing: border-box;
    font-family: Worksans,Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}


html{
    
    background-color: black;
    font-size: 62.5%;
    font-family: 'Staatliches', cursive;
}

/*
    CORE STYLE
*/

.window{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
}

.start{
    position: absolute;
    top: 0;
    width:100vw;
    height: 100vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
}


.msg{
    position: absolute;
    font-size: 2vw;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.801);
    display: none;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.boxmsg{
    height: 80%;
    width: 60%;
    border: 1px solid white;
    background-color: wheat;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content:space-around;
}

.boxmsg *{
    text-align: center;
    font-weight:bold;
    user-select: none;
}

.titlemsg{
    /* margin: 2vh 4vh 0vh 4vh; */
    margin: 6% 12% 0% 12%;
    font-size: 5.12vw;
}

.prize{
    width: 100%;
    height: 100%;

}

.prized{
    height: 38.46vw;
    width: 38.46vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}


.followme{
    border: 1px white solid ;
    border-radius: 1rem;
    background-color: white;
    padding: 5% 10% 5% 10%;
    position: relative;
    bottom: 0%;
    left: 35%;
    animation: fun 1.5s infinite;
}

.descripmsg{
    font-size: 120%;
    margin: 0 10% 0 10%;
    text-align: left;
}

.again{
    border: 1px solid greenyellow;
    background-color: greenyellow;
    font-size: 3.2vw;
    border-radius: 2rem;
    padding: 5% 10%;
    margin-bottom: 5%;
}

.screen{
    position: absolute;
    width: 100vw;
    height: 128.205vw;
}

/* FRONT */

.front{
    width: 100%;
    height: 100%;
    background-image: url("/img/back.png");
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: flex-end;
    
}

.mirror{
    position:absolute;
    top: 0;
    background-image: url("/img/front.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
}

.premiod{
    position:absolute;
    top: 87%;
    left: 25%;
    width: 55%;
    height: 18%;
    background-size: 100%;
    transform: rotate(60deg);
    display: none;
}

.premio{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* -------- DIALOGBOX            */

.dialogbox{
    text-align: center;
    justify-self: center;
    height:12%;
    width: 20%;
    background-image: url("/img/boton.png");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-x: 0%;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    margin-bottom: 4%;
    filter:brightness(80%);
}


/* -------- DIALOGBOX END        */

.gancho{
    position:absolute;
    top: -60%;
    left: 60%;
    height:100%;
    width: 38%;
    /* background-color: red; */
    background-image: url("/img/gancho.png");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    /* width: 0;
    height: 0; */
}

/*

*/


/* FONT */

.screen{
    position: absolute;
    width: 100vw;
    height: 128.205vw;
    font-size: 10%;
}

.presentacion, .next{
    width: 80vw;
    font-size: 4vw;
    
}

.presentacion{
    font-size: 4vw;
    height: 90vw;
}

.presentacion p{
    margin-top: 10%;
}

.titulo{
    font-size: 180%;
    text-align: center;
}

.start .msg{
    user-select: none;
}

.next{
    text-align: center;
    color: black;
    border: 1px white solid;
    background-color: white;
    border-radius: 2%;
    user-select: none;

}


.aviso{
    background-color: rgba(0, 0, 0, 0.63);
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    user-select: none;
}

.aviso img{

    width: 50%;
    height: 40%;
    opacity: 0.8;
    user-select: none;
    position: absolute;
    top: 20%
}

@media screen and (min-width: 78vh) {

/*

        ___________________________
       |       |           |       |
       |       |   SCREEN  |       |
       |       |           |       |
       |_______|___________|_______|

*/

    .window{
        flex-direction: row;
    }


    .screen{
        width: 78vh;
        height: 100vh;
    }

    .presentacion, .next{
        width: 60vh;
        
    }

    .presentacion{
        font-size: 4vh;
        height: 70vh;
    }
    .next{
        text-align: center;
        font-size: 5vh;
    }

.front{
    width: 100%;
    height: 100%;
}

/* -------- DIALOGBOX            */

.dialogbox{
    text-align: center;
    font-size: 2vh;

}


/* -------- DIALOGBOX END        */

.gancho{
    /* background-color: red; */
    margin-bottom: 6.66%;
}   

.mirror{
position: absolute;
top: 0;
}



.msg{
    font-size: 2vh;
}


.titlemsg{
    margin: 6% 12% 0% 12%;
    font-size: 4vh;
}

.prized{
    height: 30vh;
    width: 30vh;
}


.again{

    font-size: 2.5vh;

}


}

